<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TClazzMapper">

	<resultMap type="com.ssm.pojo.TClazz" id="ClazzMap">
		<id property="id" column="id"/>
		<result property="clazzName" column="clazz_name"/>
		<result property="userId" column="user_id"/>
		<result property="status" column="status"/>
		<result property="createTime" column="create_time"/>
		<result property="createTimes" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateTimes" column="update_time"/>
	</resultMap>
	
	<sql id="clazzTable">
		t_clazz
	</sql>
	<!-- 教师班级分页查询 -->
	<select id="clazzSelect" resultMap="ClazzMap">
		SELECT * FROM <include refid="clazzTable"/> WHERE user_id=#{userid} AND status=1 ORDER BY id DESC 
	</select>
	<!-- 班级逻辑删除 -->
	<update id="clazzDelete" parameterType="string">
		UPDATE <include refid="clazzTable"/> SET status=2 WHERE id=#{userId}
	</update>
	
	<!-- 班级增加 -->
	<insert id="clazzInsert" parameterType="string">
		INSERT INTO 
			t_clazz (clazz_name, user_id, create_time )
			VALUES
					(#{clazzName},#{userId},#{createTimes} )
	</insert>
	<!-- 修改查询 -->
	<select id="clazzUpdateSelect" resultMap="ClazzMap">
		SELECT * FROM <include refid="clazzTable"/> WHERE id=#{clazzId}
	</select>
	<!-- 班级修改 -->
	<update id="clazzUpdate" parameterType="string">
		UPDATE 
			t_clazz 
			<set>
				<if test="clazzName!=null and clazzName!='' ">
					clazz_name = #{clazzName},
				</if>
				<if test="userId!=null and userId!='' ">
					user_id = #{userId},
				</if>
				<if test="updateTimes!=null and updateTimes!='' ">
					update_time = #{updateTimes},
				</if>
			</set>
		WHERE
			id=#{id}
	</update>
	
	<!-- 管理员查询班级 -->
	<select id="adminClazzSelect" resultMap="ClazzMap">
		SELECT * FROM <include refid="clazzTable"/> WHERE status=1 ORDER BY id DESC
	</select>
	
	
</mapper>