<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TExamPaperMapper">
	<resultMap type="com.ssm.pojo.TExamPaper" id="TExamPaperMap">
		<id property="id" column="id"/>
		<result property="examPaperTitle" column="exam_paper_title"/>
		<result property="examPaperTotalScroe" column="exam_paper_total_scroe"/>
		<result property="examPaperType" column="exam_paper_type"/>
		<result property="qualifiedPoints" column="qualified_points"/>
		<result property="createTime" column="create_time"/>
		<result property="createTimes" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="updateTimes" column="update_time"/>
	</resultMap>
	<resultMap type="com.ssm.vo.ExamPaperVo" id="BaseRusltMap">
		<id property="id" column="id"/>
		<result property="examPaperTitle" column="exam_paper_title"  jdbcType="VARCHAR"/>
		<result property="examPaperTotalScroe" column="exam_paper_total_scroe" jdbcType="INTEGER"/>
		<result property="examPaperType" column="exam_paper_type" jdbcType="VARCHAR"/>
		<result property="qualifiedPoints" column="qualified_points" jdbcType="INTEGER"/>
		<result property="status" column="status" jdbcType="INTEGER"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	<resultMap type="com.ssm.vo.LJJTackPaperVo" id="LJJTackPaperVoMap">
		<result property="id" column="id" />
		<result property="examPaperTitle" column="exam_paper_title" />
	</resultMap>
	<resultMap type="com.ssm.vo.LJJPerformanceVo" id="LJJPerformanceVoMap"></resultMap>
	<!-- 查询试卷 -->
	<select id="selectTExamPaper" resultMap="TExamPaperMap">
		SELECT * FROM t_exam_paper ORDER BY id DESC
	</select>
	<insert id="missionAdd" parameterType="com.ssm.pojo.TExamPublish">
		INSERT INTO 
			t_exam_publish
			(clazz_id,exam_id,start_time,end_time,publish_person,current_type)
		VALUES
			(#{clazzId},#{examId},#{startTimes},#{endTimes},#{publishPerson},#{currentType})
	</insert>
	<select id="selectExamPaperList" resultMap="BaseRusltMap">
		SELECT 
			t1.id,
			t1.exam_paper_title,
			t1.exam_paper_total_scroe,
			t2.category_name 'exam_paper_type',
			t1.qualified_points,
			t1.`status`,
			t1.create_time,
			t1.update_time 
		FROM 
			t_exam_paper t1, 
			t_question_category t2 
		WHERE 
			t1.exam_paper_type = t2.id
		ORDER BY `create_time`
		DESC
	</select>
	
	<insert id="addExamPaper" parameterType="com.ssm.pojo.TExamPaper" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO 
			t_exam_paper
			(`exam_paper_title`,`exam_paper_total_scroe`,`exam_paper_type`,`qualified_points`,`create_time`,`update_time`) 
			VALUES
			(#{examPaperTitle},#{examPaperTotalScroe},#{examPaperType},#{qualifiedPoints},now(),now())
	</insert>
	<!-- 根据任务找到试卷，查出成绩 -->
	<select id="selectTask" resultMap="LJJTackPaperVoMap">
		SELECT
			ep.id,
			e.exam_paper_title 
		FROM
			t_exam_publish ep,
			t_exam_paper e 
		WHERE
			ep.exam_id = e.id 
		AND clazz_id=#{clazzId} AND ep.status=1
	</select>
	<!-- 查询成绩 -->
	<select id="selectPerformance" resultMap="LJJPerformanceVoMap">
		SELECT
			u.username,
			e.score 
		FROM
			t_exam_record e,
			t_user u 
		WHERE
			e.student_id = u.id 
		AND exam_pulish_id =#{taskId}
	</select>
	<update id="updateEamPaper" parameterType="com.ssm.pojo.TExamPaper">
		UPDATE t_exam_paper 
		<set>
			<if test="examPaperTitle != null and examPaperTitle != ''">
				exam_paper_title = #{examPaperTitle}, 
			</if>
			<if test="examPaperTotalScroe != null and examPaperTotalScroe != ''">
				exam_paper_total_scroe = #{examPaperTotalScroe}, 
			</if>
			<if test="examPaperType != null and examPaperType != ''">
				exam_paper_type = #{examPaperType}, 
			</if>
			update_time = now()
		</set>
		WHERE id = #{id}
	</update>
	<update id="deleteExamById">
		UPDATE t_exam_paper SET `status` = 2 WHERE id IN
		<foreach collection="array" item="examId" index="index" open="(" close=")" separator=",">
  			#{examId}
  		</foreach>
	</update>
	<update id="updateExamPaperById">
		UPDATE t_exam_paper SET `status` = #{status} WHERE id = #{id}
	</update>
	
  	<update id="updateExamPublishByExamId">
  		UPDATE t_exam_publish SET `status` = #{status} WHERE exma_id = #{examId}
  	</update>
</mapper>