<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TMenuMapper">

	<resultMap type="com.ssm.pojo.TMenu" id="menu">
		<id property="id" column="id"/>
		<result property="menuName" column="menu_name"/>
		<result property="url" column="url"/>
		<result property="parentId" column="parent_id"/>
		<result property="icon" column="icon"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
		<result property="createTimes" column="create_time"/>
		<result property="updateTimes" column="update_time"/>
		<result property="status" column="status"/>
	</resultMap>

	<select id="selectById" resultMap="menu">
		SELECT DISTINCT menu.* FROM t_user USER,t_user_role ur,t_role role, t_role_menu rm, t_menu menu
		<where>
			<if test="userId!=null and userId != ''">
				AND user.`id`=${userId} AND user.`id`= ur.`user_id` AND ur.`role_id` = role.`id` AND role.`id` = rm.role_id AND rm.`menu_id` = menu.`id`
			</if>
		</where>
	</select>
	
	<select id="selectAll" resultMap="menu">
		SELECT * FROM t_menu where status=1
	</select>
	
	<select id="queryAllMenu" resultMap="menu">
			select * from t_menu where parent_id = 0
	</select>
	
	<insert id="addMenu" parameterType="com.ssm.pojo.TMenu">
		insert into t_menu(menu_name,parent_id,create_time,status,url) values(#{menuName},#{parentId},#{createTimes},#{status},#{url})
	</insert>
	
	<delete id="deleteMenu" parameterType="java.lang.String">
		DELETE FROM t_menu WHERE id=#{id}
	</delete>
</mapper>