<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TQuestionCategoryMapper">
	<resultMap id="BaseResultMap" type="com.ssm.pojo.TQuestionCategory" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
	    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
	<select id="selectCategoryByParentId" parameterType="integer" resultMap="BaseResultMap">
		SELECT 
			`id`,
			`category_name` 
		FROM 
			t_question_category 
		WHERE
			`parent_id` = #{categoryId} 
		AND 
			`status` = 1
	</select>
	
	<select id="selectCategoryByQuestionId" parameterType="integer" resultMap="BaseResultMap">
		SELECT 
			t_question_category.id,
			t_question_category.category_name,
			t_question_category.parent_id 
		FROM 
			t_question,
			t_question_category 
		WHERE 
			t_question.question_category = t_question_category.id 
		AND 
			t_question.id = #{questionId}
	</select>
	
	<select id="selectAllSonCategory" parameterType="integer" resultMap="BaseResultMap">
		SELECT `id`,`category_name`,`parent_id` FROM t_question_category WHERE `parent_id` = #{parentId}
	</select>
</mapper>