<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TQuestionMapper" >
	<resultMap id="BaseResultMap" type="com.ssm.pojo.TQuestion" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="question_content" property="questionContent" jdbcType="VARCHAR"/>
	    <result column="question_type" property="questionType" jdbcType="INTEGER" />
	    <result column="question_category" property="questionCategory" jdbcType="INTEGER" />
	    <result column="question_score" property="questionScore" jdbcType="INTEGER" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="QuestionVoResultMap" type="com.ssm.vo.QuestionVo" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="question_content" property="questionContent" jdbcType="VARCHAR"/>
	    <result column="question_type" property="type" jdbcType="VARCHAR" />
	    <result column="question_category" property="category" jdbcType="VARCHAR" />
	    <result column="question_score" property="questionScore" jdbcType="INTEGER" />
	    <result column="remark" property="remark" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="INTEGER" />
	    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!--QuestionVo  -->
  
  <!--查询试题列表  -->
  <select id="queryQuestionList" resultMap="QuestionVoResultMap">
  		SELECT 
	  		q.id,
	  		q.question_content,
	  		q2.label 'question_type',
	  		c.category_name 'question_category',
	  		q.question_score,q.remark,
	  		q.create_time,
	  		q.update_time, 
				q.`status`
		FROM 
			(SELECT * FROM	t_question WHERE `status` = 1 ) q 
		LEFT JOIN 
			t_question_category c 
		ON 
			q.question_category = c.id 
		LEFT JOIN 
			(SELECT q.id 'id',d.label 'label' FROM t_question q LEFT JOIN  t_dict d ON q.question_type = d.id) q2
		ON
			q.id = q2.id ORDER BY q.create_time DESC
  </select>
  
  <insert id="addQuestion" parameterType="com.ssm.pojo.TQuestion" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO t_question(`question_content`,`question_type`,`question_category`,`question_score`,`remark`,`create_time`,`update_time`) 
  		VALUES(#{questionContent},#{questionType},#{questionCategory},#{questionScore},#{remark},now(),now())
  </insert>
</mapper>