<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TUserStudentMapper">
	<resultMap type="com.ssm.pojo.TUser" id="UserMapper">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="gender" column="gender" />
		<result property="birthday" column="birthday" />
		<result property="headPortrait" column="head_portrait" />
		<result property="clazzId" column="clazz_id" />
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="status" column="status" />
		<result property="salt" column="salt" />
	</resultMap>
	<!-- 查询总记录数 -->
	<select id="StudentCountSelect" resultMap="UserMapper" parameterType="long">
		SELECT COUNT(1) FROM t_user u ,t_clazz c WHERE u.clazz_id=c.id AND u.status=1
	</select>
	<!-- 查询学生 -->
	<select id="StudentSelect" resultMap="UserMapper">
		SELECT u.* FROM t_user u ,t_clazz c WHERE u.clazz_id=#{clazzId} AND u.status=1 LIMIT #{page},#{limit}
	</select>
	<!-- 学生删除 -->
	<update id="StudentDelete" parameterType="string">
		UPDATE t_user SET status=2 WHERE id=#{id}
	</update>
	<!-- 学生增加 -->
	<insert id="StudentAdd" parameterType="com.ssm.pojo.TUser">
			INSERT INTO t_user(username,password,gender,birthday,clazz_id,create_time) VALUES(#{username},#{password},#{gender},#{birthday},#{clazzId},#{createTime})
	</insert>
	
</mapper>