<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.YTaskManagerMapper">
	<resultMap type="com.ssm.vo.YTaskListVo" id="baseResultMap">
		<result property="id" column="id" />
		<result property="clazzName" column="clazz_name" />
		<result property="clazzId" column="clazz_id" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
		<result property="currentType" column="current_type" />
		<result property="status" column="status" />
		<result property="examPaperTitle" column="exam_paper_title" />
	</resultMap>
	<!-- # 包括删除的  ，降序排序，交给分页插件去做。-->
	<select id="renderTaskList" resultMap="baseResultMap">
		SELECT
			txp.id,
			tc.clazz_name,
			tc.id as 'clazz_id',
			txp.start_time,
			txp.end_time,
			txp.current_type,
			txp.`status`,
			txpt.exam_paper_title 
		FROM
			t_exam_publish txp
			LEFT JOIN ( SELECT id, clazz_name FROM t_clazz WHERE `status` = 1 ) tc ON tc.id = txp.clazz_id
			LEFT JOIN ( SELECT * FROM t_exam_paper WHERE `status` = 1 ) txpt ON txpt.id = txp.exam_id
		<where>
			<if test="clazzId!=null">
				AND tc.clazz_id = #{clazzId}
			</if>
			<if test="currentType!=null">
				AND txp.current_type= #{currentType}
			</if>
		</where>
		ORDER BY txp.id desc, txp.end_time desc	
	</select>
	
</mapper>