<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		">

	
	<!-- 扫描包   -->
	<context:component-scan base-package="com.ssm"></context:component-scan>
	
	<!--  对一个   数据源    开启    事务 管理     -->
	<bean  id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!--   对 这个 数据源   那些 方法进行  控制   -->
	<tx:advice  id="txAdvice"  transaction-manager="dataSourceTransactionManager">
		<tx:attributes>
			<tx:method name="add*"/>
			<tx:method name="del*"/>
			<tx:method name="up*"/>
		</tx:attributes>
	</tx:advice>
	
	<!--   开启  事务 -->
	<aop:config>
		<!--  定义 一个  范围  -->
		<aop:pointcut expression="execution(* com.ssm.service.*.*(..))" id="pt"/>
		
		 <!--  方法   +   范围    -->
		<aop:advisor advice-ref="txAdvice"  pointcut-ref="pt"/>
	</aop:config>
	
	
	


</beans>
