<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		 http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		">

	
	<!-- 扫描包  -->
	<context:component-scan base-package="com.ssm"></context:component-scan>
	
  <!--将非mapping配置下的请求交给默认的Servlet来处理-->
	<mvc:default-servlet-handler/>
	
	<!--如果添加了默认servlet，mvc请求将无效，需要添加annotation-driven-->	
	<mvc:annotation-driven></mvc:annotation-driven>
	
	
	<!-- 文件上传   。  -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    <!-- 指定默认的编码格式 -->
    <property name="defaultEncoding" value="UTF-8" />
    <!-- 指定允许上传的文件大小，单位Byte -->
    <property name="maxUploadSize" value="512000" />
    
    
    
</bean>


</beans>
